*{
    margin: 0;
    padding: 0;
}

.fixed-width{
    width: 1100px;
    margin: auto;
    max-width: 100%;
}
img{
    max-width: 100%;
}
li{
    
    list-style: none;
}
.f-left{
    float: left;
}
.f-right{
    float: right;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.clear::after{
    content: "";
    clear: both;
    display: block;
}
.text-center{
    text-align: center;
}
a{
    text-decoration: none;
}

/* Header section */

.header{
    background-color:#0b0501 ;
}
.header-inner{}
.header-logo{}
.header-logo img{
    width: 220px;
}
.header-menu{}
.header-menu ul{
    position: relative;
    transition: .5s;
}
.header-menu ul li {
    display: inline-block;
    line-height: 56px;
    position: relative;
    transition: .5s;
}


.header-menu ul li:hover ul{
    background-color: #fff;
    opacity: 1;
    visibility: visible;
}

.header-menu ul li ul{
    position: absolute;
    visibility: hidden;
    

   
}
.header-menu ul li ul li{
    width: 170px;
    height: 100%;
    left: 0;
    padding: 0 15px;
    
    
}
.header-menu ul li ul li:hover{
    background-color: rgb(230, 217, 217);
    visibility: visible;
}
.header-menu ul li a{
    color: white;
    padding: 10px 15px;
}
.header-menu ul li a:hover{
    color:#c2884c ;

} 
.header-menu ul li a::before{
    content:"";
    width: 0;
    height: 5%;
    left: 0;
    top: 50px;
    background-color: #fff;
    position: absolute;
    transition:.5s;
}
.header-menu ul li a::before:hover{
    width: 100%;
    color: #c2884c;
}

/* banner section */
.banner{
    background-image: url(https://i.ibb.co/c2nkmQN/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px;
    color: #fff;
}
.banner-inner{


}
.banner-inner h1{
    font-size: 40px;
    font-weight: 600;
}
.banner-inner h2{
    font-size: 30px;
}
.btn{
    padding: 10px 15px;
    display: inline-block;
    border-radius: 10px;
    border: none;
}
.btn:hover{
    background-color: #d58f4c;
}


/* service sectio */

.service{
    background-color:#f8f8f7;
    margin-top: 30px;
}
.service-main{}
.service-box{
    width: 24%;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid rgb(245, 239, 239);
    margin-right: 8px;
    padding-bottom: 20px;

}
.service-box img{
    padding: 1px 0;
    display: inline-block;
    transition: .5s;
   
}
.service-box img:hover{
    transform: rotateY(360deg);
   
}
.service-box h1{
    padding: 1px 0;
}
.service-box p{
    padding: 15px 0;
}
.service-box button{
    background-color: #d58f4c;
    font-weight: 600;
}
.service-box button:hover{
    background-color:black;
    color: #fff;
}


/* About section */
.about{
    padding: 30px 0;
    background-color: #f8f8f7;
}
.about-inner{}
.about-inner-img{
    width: 40%;
}
.about-inner-img video{
    max-width: 100%;
    margin-right: 15px;
    display: inline-block;
    margin-top: 30px;
}
.about-inner-text{
    width: 60%;
  
}
.about-inner-text h1{}
.about-inner-text p{}
.about-inner-text h4{
    padding: 10px 0;
}
.about-inner-text button{
    background-color: black;
    padding: 10px 15px;
    border-radius: 10px;
    color: #fff;
    border: none;
}
.about-inner-text{} button:hover{
    background-color: #d58f4c;
    border: none;
   
}
.about-inner-text details{
    padding: 10px 0;
}

/* Form section */
.form{
    background-color:#f8f8f7 ;
}
.form-inner{}
.form-input{
    width: 50%;
}
.form-input h1{
    text-transform: uppercase;
}
.form-input p{}
.form-input form input{
    width: 60%;
}
.about-img{
    width: 50%;
}
.about-img img{
    height: 500px;
}
textarea{
    width: 60%;
}
.sub{
    width: 20%!important;
    padding: 10px 15px;
    background-color: #c2884c;
    border: none;
}


/* Footer section */
.footer-section{
    background-color: #6c6a66;
    margin-bottom: 20PX;
}
.footer-text{
    width: 50%;
}
.footer-text p{
    padding: 15PX 0;
}
.footer-menu{
    width: 50%;
}
.footer-menu ul {}
.footer-menu ul li{
    display: inline-block;
    padding: 15PX 20px;
}
.footer-menu ul li a{
    color: #fff;
    font-size: 25px;
}
.footer-menu ul li a i{}

